$primary-button-color: #42a5d3;
$secondary-button-color: #48cae4;

.login-form-container {
  width: 300px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 20px;
  background-color: white;
  border: 1px solid white;
  border-radius: 5px;

  .login-form-name {
    font-size: 2rem;
  }

  .login-form-body {
    display: flex;
    flex-direction: column;
    row-gap: 5px;

    .login-form-button {
      width: 150px;
      align-self: center;
      padding: 7px 0;
      margin-top: 10px;
      background-color: $primary-button-color;
      color: white;
      border: 1px solid $primary-button-color;
      border-radius: 5px;
      font-size: 1rem;
    }

    .login-form-button:hover {
      cursor: pointer;
      background-color: $secondary-button-color;
    }

    .login-form-button:disabled {
      cursor: default;
      border: none;
      background-color: lightgray;
      color: white;
    }
  }
}